.checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .checkbox::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ce1414;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .checkbox:checked::before {
    background-color: #046c19;
    border-color: #007bff;
  }
  